<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <!--the code writeen in c# languge inside A hltml Markep :Razor(view ingene)  -->

    <!--inline expretion-->
    @DateTime.Now
    </br>
    @Request.Url
    </br>
    @{ 
        var Name = "dalia mahmoud";
        var studyField = "computer Eng";

    }
    
    <h1>your Name is @Name and your Study field is @studyField</h1>
</body>
</html>
