@model MVC_From_Scratch.Models.CustomerModel
@{
    ViewBag.Title = "DisplayCostumer";
}

<table class="table table-borderedb table-hover" style="margin-Top:100px">
    <tr>
        <td>Customer ID </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Customer Name </td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Customer Address </td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Customer Age </td>
        <td>@Model.Age</td>
    </tr>
</table>



