
@RenderPage("~/Views/Shared/_header.cshtml")

<h1> we use Render Page for :</h1>
</br>
<p>
    we use the <h2>Render Page</h2>Render Page for make the code shorter and more useful and easy to edit
    we just call the header and footer by copy the path for them and they are added auatomatically by using
    the Render Page

</p>

@RenderPage("~/Views/Shared/_footer.cshtml")
